h1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 25px;
    color:#176B87;
    font-weight: bolder;
}
body{
    background-color: #053B50;
}

h4{
    font-size: 40px;
    color:#176B87;
    padding-left: 40px;
}

p{
    padding-left: 10px;
    padding-right: 50px;
    font-size: 20px;
    color:#EEEEEE;
    word-wrap: break-word;
}

.image{
    width: 500px;
    padding: 30px 0px;
}

.text{
    width: 1100px;
    padding: 30px 0px 30px 20px;
}
.container-fluid{
    display: inline-flex;
    gap: 5px;
}
@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
    }
    h1{
        text-align: left;
        padding-left: 20px;
    }
    h4{
        padding-left: 30px;
    }
    .text {
        width: 100%;
        padding: 30px 10px;
    }
    .image img {
        max-width: 80%; 
        height: auto; 
    }
    
    .image {
        text-align: center; 
    }
}

.btn.btn-primary.btn-lg{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 5%;
    left: 1%;
}
