.typed::after {
    animation: typing 1s steps(1, end) infinite;
    display: inline-block;
    vertical-align: middle;
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 4ch;
    }
  }

.navbar-toggler {
    position: relative;
    top: 1%; 
    left: 1%; 
  }

  .navbar {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
  }
  
  .navbar.active {
    display: block;
  }

.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #053B50 !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


.navbar.navbar-expand-lg.bg-body-tertiary a{
    color: #64CCC5;
    padding-left: 40px !important;
    padding-right: 40px !important;
    font-size: 28px;
}

#header{
    background-color: #176B87;
}

#hero{
    margin-top: 50px;
}

body{
    background-color: #176B87 !important;
}

section:nth-child(odd){
    padding: 40px 0px;
    background-color: #053B50;
}
section:nth-child(even){
    padding: 40px 0px;
    background-color:  #176B87;
}
h1, h2, h3, h4, h5, h6{
    color: #64CCC5;
}

p{
    color:#EEEEEE;
    word-wrap: break-word;
}

label, li{
    color: #64CCC5;
}

a{
    text-decoration: none;
}


.hero-container{
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

#hero div p{
    font-size: 20px;
}

